@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="range"].progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: whitesmoke;
    position: relative;
    cursor: pointer;
  }

  input[type="range"].progress-bar::after {
    width: 16px;
    height: 16px;
    @apply bg-yellow-400 hover:bg-yellow-400;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: -8px;
  }

  input[type="range"].progress-bar::before {
    content: "";
    height: 8px;
    @apply bg-yellow-400 hover:bg-yellow-400;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: calc(var(--progress-width) * 1%);
  }

  .slide {
    transition: bottom 0.5s;
    animation: slide 0.5s linear;
  }

  @keyframes slide {
    from {
      bottom: -20vh;
    }
    to {
      bottom: 0;
    }
  }

  .fadeIn {
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    animation: fadeIn 0.25s linear both;
    -webkit-animation: fadeIn 0.25s linear both;
    will-change: opacity;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
